#main-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 1rem 2rem 0;

  h1 {
    font-size: 3rem;
    margin: 0;

    span {
      font-family: 'Space Mono', sans-serif;
      font-size: 0.5em;
      font-weight: normal;
    }
  }

  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      
      &:not(:first-child) {
        margin-left: 1rem;
      }
    }
  }
}
